<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Private.DataContractSerialization" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net46" />
  <package id="ZXing.Net" version="0.16.2" targetFramework="net46" />
</packages>